.ST-backgroun {
    padding-bottom: 100px;
}

.ST-container {
    display: flex;
    justify-content: space-between;
    margin-top: 150px;

    .ST-title {
        h1 {
            height: 72px;
            font-weight: 500;
            font-size: 48px;
            line-height: 150%;
            margin-bottom: 14px;

            .whitetitle {
                color: var(--text-color);
            }

            .greentitle {
                color: var(--button-keyworld-color);
            }
        }
        
        p {
            color: var(--paragraph-color);
            font-size: 18px;
        }
    }

    .ST-title.ss-width {
        max-width: 47.3958vw;
    }

    .ST-title.ss-width100 {
        max-width: 100%;
    }

    .filter-IB {
        align-self: flex-end;
        max-width: 386px;
        background-color: var(--primary-color);
        height: 83px;
        border-radius: 82px;
        border: 1px solid var(--second-color);
        padding: 14px;
        display: flex;
        justify-content: center;
        align-items: center;

        button {
            width: 177px;
            height: 55px;
            border: none;
            background-color: transparent;
            border-radius: 140px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
            color: var(--text-color);
        }

        .filter-active {
            background-color: var(--button-keyworld-color);
            color: var(--primary-color);
        }
    }
}

.hidden {
    display: none;
}

@media screen and (max-width:1440px) {
    .ST-backgroun {
        padding-bottom: 80px;
    }

    .ST-container {
        .ST-title {
            h1 {
                height: 57px;
                font-size: 38px;
                margin-bottom: 10px;
            }

            p {
                font-size: 14px;
            }
        }

        ST-title.ss-width {
            max-width: 57.7083vw;
        }

        .filter-IB {
            max-width: 299px;
            height: 65px;
            padding: 12px;

            button {
                width: 136px;
                height: 41px;
                font-size: 14px;
            }
        }
    }
}

@media screen and (max-width:992px) {
    .ST-backgroun {
        padding-bottom: 40px;
    }

    .ST-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        width: 100%;
        gap: 20px;

        .ST-title {
            max-width: 100%;

            h1 {
                height: 42px;
                font-size: 28px;
            }

            p {
                font-size: 14px;
            }
        }

        .ST-title.ss-width {
            max-width: 100%;
        }

        .filter-IB {
            align-self: center;
            max-width: 299px;
            height: 65px;

            .filter-active {
                background-color: var(--button-keyworld-color);
                color: var(--primary-color);
            }
        }
    }
}