.HA_JobOpeningsCardWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  .HA_JobOpeningsCard {
    padding: 5.55vh 3.47vw;
    border: 1px solid var(--second-color);
    border-radius: 16px;
    background-color: var(--third-color);
    max-width: 40vw;
    margin-bottom: 3.3vh;
    .head {
      font-weight: 600;
      font-size: 30px;
      color: var(--text-color);
    }
    .optionsContainer {
      display: flex;
      gap: 10px;
      .HeadBtn {
        font-weight: 300;
        font-size: 18px;
        color: var(--paragraph-color);
        border: 1px solid var(--second-color);
        border-radius: 68px;
        background-color: var(--third-color);
        padding: 8px 16px;
        margin-top: 14px;
      }
    }
    .titleANDrequirementTitle {
      padding: 5.55vh 0 2.22vh 0;
      font-weight: 600;
      font-size: 24px;
      color: var(--text-color);
    }
    .subTitleANDrequirements {
      font-weight: 300;
      font-size: 18px;
      color: var(--paragraph-color);
      display: block;
    }
    .requirementsList {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .img {
        width: 22px;
      }
    }

    .requirementItem {
      display: flex;
      align-items: center;
      gap: 8px;
      margin-bottom: 20px;
    }

    .btn {
      background-color: var(--button-keyworld-color);
      padding: 2vh 2.1vw;
      font-weight: 500;
      font-size: 18px;
      color: var(--primary-color);
      margin-top: 30px;
      border-radius: 82px;
      border: none;
    }
  }
}
@media screen and (max-width: 1440px) {
  .HA_JobOpeningsCard {
    .head {
      font-size: 24px;
    }
    .titleANDrequirementTitle {
      font-size: 20px;
    }
    .subTitleANDrequirements {
      font-size: 16px;
    }
    .btn {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 992px) {
  .HA_JobOpeningsCardWrapper {
    flex-direction: column;
    align-items: center;
    .HA_JobOpeningsCard {
      padding: 5.55vh 5vw;
      max-width: 80vw;

      .head {
        font-size: 20px;
      }
      .optionsContainer {
        flex-wrap: wrap;
      }
      .titleANDrequirementTitle {
        font-size: 18px;
      }
      .subTitleANDrequirements {
        font-size: 14px;
      }
      .btn {
        font-size: 14px;
      }
    }
  }
}
