.WNprotectYou {
    /* width: 82.97vw; */
    background-image: url(../../../public/assets/images/AbstractDesign/asfalt-light.png);
    background-color: var(--primary-color);
    background-size: cover;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

    .WNprotectCards {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        transform: translateY(20%);
        gap: 30px;

        .WNprotectCard {
            width: 43.19%;
            height: 330px;
            border-radius: 20px;
            border: 1px solid #262626;
            padding: 50px;
            background-image: url(/assets/images/AbstractDesign/asfalt-light.png);
            background-color: var(--primary-color);
            background-position: left;

            .protectFlex {
                display: flex;
                align-items: center;

                .protectIcon {
                    display: block !important;
                    padding-top: 0 !important;
                }
            }

            .protectYouCardTitle {
                color: var(--text-color);
                font-size: 24px;
                margin-left: 20px;
            }

            .protectYouCardDesc {
                font-size: 18px;
                color: var(--paragraph-color);
                margin-top: 24px;
            }
        }
    }
}

@media screen and (max-width:1440px) {
    .WNprotectYou {
        .WNprotectCards {
            gap: 20px;

            .WNprotectCard {
                width: 38.19vw;
                padding: 40px;
                height: 296px;

                .protectYouCardTitle {
                    font-size: 20px;
                    margin-left: 14px;
                }

                .protectYouCardDesc {
                    font-size: 16px;
                    margin-top: 20px;
                }
            }
        }
    }
}

@media screen and (max-width:992px) {
    .WNprotectYou {
        background: none;

        .WNprotectCards {
            flex-direction: column;
            align-items: center;
            transform: translate(0);

            .WNprotectCard {
                width: 100%;
                padding: 24px;
                height: 260px;

                .protectYouCardTitle {
                    font-size: 18px;
                }

                .protectYouCardDesc {
                    font-size: 14px;
                    margin-top: 18px;
                }
            }
        }
    }
}