.WNprotectYou {
    .protectYouCardsContainer {
        background-image: url(/assets/images/AbstractDesign/asfalt-light.webp);
        background-color: var(--primary-color);
        background-size: cover;
        border-radius: 50px 50px 20px 20px;
        height: 630px;

        .WNprotectCards {
            justify-content: center;
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            position: relative;
            transform: translateY(82px);
            gap: 30px;

            .WNprotectCard {
                width: 43.19%;
                height: 330px;
                border-radius: 20px;
                border: 1px solid #262626;
                padding: 50px;
                background-image: url("/Bank_Project/assets/images/AbstractDesign/asfalt-light.webp");
                background-color: var(--primary-color);
                background-position: left;

                .protectFlex {
                    display: flex;
                    align-items: center;

                    .protectIcon {
                        display: block !important;
                    }
                }

                .protectYouCardTitle {
                    color: var(--text-color);
                    font-size: 24px;
                    margin-left: 20px;
                }

                .protectYouCardDesc {
                    font-size: 18px;
                    color: var(--paragraph-color);
                    margin-top: 24px;
                }
            }
        }
    }
}

@media screen and (max-width:1440px) {
    .WNprotectYou {
        .protectYouCardsContainer {
            height: 549px;

            .WNprotectCards {
                gap: 20px;
                transform: translateY(62px);

                .WNprotectCard {
                    width: 38.19vw;
                    padding: 40px;
                    height: 296px;

                    .protectYouCardTitle {
                        font-size: 20px;
                        margin-left: 14px;
                    }

                    .protectYouCardDesc {
                        font-size: 16px;
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:992px) {
    .WNprotectYou {
        .protectYouCardsContainer {
            background: none;
            height: fit-content;

            .WNprotectCards {
                flex-direction: column;
                align-items: center;
                transform: none !important;

                .WNprotectCard {
                    width: 100%;
                    padding: 24px;
                    height: 260px;

                    .protectYouCardTitle {
                        font-size: 18px;
                    }

                    .protectYouCardDesc {
                        font-size: 14px;
                        margin-top: 18px;
                    }
                }
            }
        }
    }
}