.FT-background {
    background-color: var(--third-color);
}

.FooterTitle {
    width: 100%;
    border-radius: 20px;
    min-height: 288px;
    background-color: var(--third-color);
    background-image: url("/assets/images/AbstractDesign/asfalt-light.png");
    background-position: left;
    background-size: cover;
    border: 1px solid var(--card-title-color);
    padding: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color);
    position: relative;

    img {
        width: 298px;
        height: 283px;
        position: absolute;
        left: 0;
        top: 0;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    .FT-text-container {

        .FT-title {
            max-width: 960px;
            font-weight: 400;
            font-size: 40px;
            margin-bottom: 14px;
            line-height: 150%;

            span {
                color: var(--button-keyworld-color);
            }
        }

        .FT-des {
            max-width: 1103px;
            font-weight: 300;
            color: var(--paragraph-color);
            line-height: 150%;
            font-size: 18px;
        }
    }

    .linkFooterTitle {
        text-decoration: none;
        background-color: var(--button-keyworld-color);
        border-radius: 82px;
        width: 183px;
        height: 63px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;

        p {
            color: var(--primary-color);
            font-size: 18px;
            line-height: 150%;
            text-align: center;
        }
    }
}

@media screen and (max-width:1440px) {
    .FooterTitle {
        min-height: 223px;
        padding: 60px;

        img {
            width: 202px;
            height: 192px;
        }

        .linkFooterTitle {
            width: 136px;
            height: 49px;

            p {
                font-size: 14px;
            }
        }

        .FT-text-container {
            .FT-title {
                font-size: 30px;
                margin-bottom: 10px;
                max-width: 720px;
            }

            .FT-des {
                font-size: 16px;
            }
        }

        button {
            padding: 14px 20px;
            max-width: 136px;
            height: 49px;
            color: var(--primary-color);

            p {
                font-size: 14px;
                width: 96px;
            }
        }
    }
}

@media screen and (max-width:992px) {
    .FooterTitle {
        margin: 0 auto;
        max-width: 91.7948vw;
        height: fit-content;
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 24px;

        .linkFooterTitle {
            width: 144px;
            height: 49px;
        }
            img {
                width: 151px;
                height: 143px;
            }

            .FT-title {
                h3 {
                    font-size: 24px;
                    margin-bottom: 14px;
                }

                .FT-des {
                    font-size: 14px;
                }
            }

            button {
                padding: 14px 24px;
                max-width: 144px;
                height: 49px;

                p {
                    font-size: 14px;
                    width: 96px;
                }
            }
        }
    }