.ss-icon-container{
    display:  flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    .ss-big-circle{
        width: 98px;
        height: 98px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #262626;
        box-shadow: 0 0 20px #c9ff3321 inset;
        position: relative;
        overflow: hidden;
        .ss-circle{
            width: 74px;
            height: 74px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #262626;
            border: 1px solid #c9ff3331;
            box-shadow: 0 0 20px #c9ff3331 inset ;
            img{
                width: 34px;
                box-shadow: 40px 42px 15px 4px #1C1C1C , -40px 42px 15px 4px #1C1C1C , 0 42px 15px 4px #1C1C1C  ;
            }
        }
    }
}




