.aa-features-container {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 30px;
  max-width: 83%;
  margin: 0 auto;
}

@media screen and (max-width:1440px) {
  .aa-features-container {
    max-width: 88%;
    gap: 20px;
  }
}

@media screen and (max-width:992px) {
  .aa-features-container {
    flex-direction: column;
    align-items: center;
    width: 93%;
  }
}