nav {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 34px !important;
    height: 95px;
    border-radius: 100px;
    position: fixed;
    width: calc(100vw - 8.4375vw - 8.4375vw);
    z-index: 5;

    .ss-navLogo {
        width: 155.83px;
        cursor: pointer;
    }

    .ss-navUl {
        list-style: none;
        display: flex;

        li {
            margin-right: 26px !important;

            a {
                color: white;
                text-decoration: none;
                font-size: 18px;
            }
        }

        .ss-link-active {
            background-color: var(--second-color);
            padding: 12px 24px;
            border-radius: 82px;
        }
    }

    .ss-buttonsDiv {
        button {
            background: none;
            border: none;

            a {
                text-decoration: none;
                font-size: 18px;
                color: white;
            }
        }

        button:first-of-type {
            margin-right: 30px;
        }

        .ss-button-active {
            color: var(--primary-color);
            background-color: var(--button-keyworld-color);
            border-radius: 82px;
            padding: 14px 30px;
        }
    }

    .menu {
        display: none;
        background: none;
        border: none;
    }

    .ss-mobile-nav {
        background-color: var(--primary-color);
        padding: 16px;
        width: 200px;
        text-align: center;
        border-radius: 20px;
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 3;
        display: none;

        .ss-mobile-navList {
            list-style: none;

            li {
                margin: 16px 0;

                a {
                    text-decoration: none;
                    color: white;
                }
            }

            .ss-link-active {
                background-color: var(--second-color);
                padding: 12px 24px;
                border-radius: 82px;
            }

        }
    }
}

@media screen and (max-width: 1440px) {
    nav {
        padding: 0 24px !important;
        width: calc(100vw - 5.5555vw - 5.5555vw);

        .ss-navLogo {
            width: 116.86px;
        }

        .ss-navUl {
            li {
                a {
                    font-size: 14px;
                }
            }

            .ss-link-active {
                padding: 10px 18px;
            }
        }
    }
}


@media screen and (max-width:992px) {
    nav {
        width: calc(100vw - 3.0769vw - 3.0769vw);
        padding: 0 14px;

        .ss-navLogo {
            width: 101.29px;
        }

        .menu {
            display: block;
            width: fit-content;

            .ss-menuIcon {
                width: 56px;
            }
        }

        .ss-navUl,
        .ss-buttonsDiv {
            display: none;
        }

        .ss-mobile-nav.ss-show {
            display: block;
        }

        .ss-mobile-nav.ss-notShow {
            display: none;
        }
    }
}