.rh-value-Container {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: center;
    background-color: var(--tenth-color);

    .rh-h3 {
        font-size: 58px;
        color: var(--card-title-color);
    }

    .rh-p {
        font-size: 18px;
        color: var(--paragraph-color);
    }

    .rh-ValueCard {
        width: 39.479vw;
        border-left: 1px solid var(--button-keyworld-color);
        padding-left: 30px;
    }
}

@media screen and (max-width:1440px) {
    .rh-value-Container {
        gap: 60px;

        .rh-h3 {
            font-size: 40px;
        }

        .rh-p {
            font-size: 16px;
        }

        .rh-ValueCard {
            width: 42.36vw;
            padding-left: 24px;
        }
    }

}

@media screen and (max-width:992px) {
    .rh-value-Container {
        flex-direction: column;
        gap: 50px;

        .rh-h3 {
            font-size: 30px;
        }

        .rh-p {
            font-size: 14px;
        }

        .rh-ValueCard {
            width: 100%;
            padding-left: 20px;
        }
    }

}