.rh-hero {
  background-color: var(--primary-color);
  background-image: url("/assets/images/AbstractDesign/abstractDesign2.webp");
  background-repeat: no-repeat;
  background-position: top right;
  position: relative;
  padding: 50px 0;
  min-height: 816px;
  border-radius: 20px;

  .rh-heroLeft {
    width: 41.2vw;
    background-color: var(--third-color);
    border-radius: 20px 0 80px 20px;
    padding: 80px;
    z-index: 1;
    left: 50px;
    position: absolute;

    .preTitle {
      color: var(--text-color);
      font-size: 20px;
    }

    .titleWhite {
      color: var(--text-color);
      font-size: 58px;
    }

    .titleGreen {
      color: var(--button-keyworld-color);
      font-size: 58px;
    }

    .heroDescription {
      color: var(--paragraph-color);
      font-size: 18px;
      margin-top: 23px;
    }
  }

  .rh-img {
    width: 50.42vw;
    position: absolute;
    z-index: 0;
    border-radius: 16px;
    right: 50px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media screen and (max-width : 1440px) {
  .rh-hero {
    padding: 40px 0;
    min-height: 648px;

    .rh-heroLeft {
      width: 45.69vw;
      left: 40px;
      padding: 60px;

      .preTitle {
        font-size: 18px;
      }

      .titleWhite {
        font-size: 48px;
      }

      .titleGreen {
        font-size: 48px;
      }

      .heroDescription {
        font-size: 16px;
        margin-top: 20px;
      }
    }

    .rh-img {
      width: 49.653vw;
      right: 40px;
    }
  }
}

@media screen and (max-width : 992px) {
  .rh-hero {
    display: flex;
    flex-direction: column-reverse;
    position: static;
    align-items: center;

    .rh-heroLeft {
      position: static;
      width: 100%;
      transform: translateY(-50px);
      border-radius: 20px;
      padding: 24px;
      text-align: center;


      .preTitle {
        font-size: 14px;
      }

      .titleWhite {
        font-size: 28px;
      }

      .titleGreen {
        font-size: 28px;
      }

      .heroDescription {
        font-size: 14px;
        margin-top: 14px;
      }
    }

    .rh-img {
      position: static;
      width: 100%;
    }
  }
}