.aa-Mv-section{
  display: flex;
  justify-content: center;
  width: 83%;
  margin: 0 auto;
}
.aa-Mv-cotainer-aa{
  width: 100%;
}
.aa-row-reversed{
  display: flex;
  flex-direction: row-reverse;
}
.AA-des-MV{
  max-width: 48.5vw;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  row-gap:10px ;
}
.AA-des-MV{
  h3{
    color: var(--text-color);
    font-size: 38px;
  }
  p{
    font-size: 18px;
    color:var(--paragraph-color);
  }
}
.aa-image-mv{
  position: relative;
  width: 81%;
  margin: 0 auto;
  margin-top: 67px;
  z-index: 2;
}
.aa-image-mission-vision{
  position: relative;
  max-width: 664px;
  background-color:linear-gradient(to bottom #1C1C1C,#1C1C1C00);
  display: flex;
  justify-content: center;
  border: 1px solid var(--second-color);
  border-radius: 50px 50px 20px 20px ;
  overflow: hidden;
}
.offset-up {
  transform: translateY(-30px);
}
.offset-down {
  transform: translateY(30px);
}
.aa-image-mission-vision::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(to right, #c9ff333d,#CAFF3300), url('assets/images/About/mission-and-vision/Abstract\ Design.png'); 
  z-index: 0;
  opacity: 0.2;
}
.aa-image-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  border: 1px solid var(--second-color);
  border-radius: 50px 50px 20px 20px ;
}
.aa-left{
  position: absolute;
  left: 0;
  top: 30%;
  display: inline-block;
  width: 2px;
  height: 200px;
  background-color:var(--eighth-color);

}
.aa-right{
  position: absolute;
  right: 0;
  top: 30%;
  display: inline-block;
  width: 2px;
  height: 200px;
  background-color:var(--eighth-color);
}
@media  screen and (max-width:1440px) {
  .aa-Mv-section{
    width: 88%;

  }
}

@media  screen and (max-width:992px){
  .aa-Mv-section{
    width:91.7%;
    display: flex;
    flex-direction: column;
    padding: 50px 0;
  }
  .offset-up {
    transform: translateY(-30px);
}
  .offset-down {
  transform: translateY(-30px);
}
.AA-des-MV{
  text-align: center;
  min-width: 100%;
  margin: 0 auto;
  align-items: center;
  padding-left: 0;
  
  h3{
    margin: 0 auto;
    text-align: center;
  }
  p{
    width: 100%;
  }
}
  .aa-image-mission-vision{
    margin: 0 auto;
    border-bottom: 2px solid var(--eighth-color);
    border-radius: 50px 50px 0px 0px ;
}
  .aa-left{
    display: none;
  }
  .aa-right{
    display: none;
  }

}
