:root{
  --primary-color : #1C1C1C ;
  --second-color : #262626 ;
  --text-color : #FFFFFF ;
  --button-keyworld-color : #CAFF33 ;
  --hero-paragraph-color : #E4E4E7 ;
  --button-background-color : #22251B ;
  --third-color : #1A1A1A ; 
  --eighth-color : #D1FF4D ;
  --paragraph-color : #B3B3B3 ;
  --tenth-color  :  #191919 ;
  --card-title-color : #4C4C4D ;
  --input-color : #59595A  ;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*  Inter Fonts */
@font-face {
  font-family: InterRegular18;
  src: url("/assets/fonts/Inter/Inter_18pt-Regular.ttf");
}
@font-face {
  font-family: InterRegular24;
  src: url("/assets/fonts/Inter/Inter_24pt-Regular.ttf");
}
@font-face {
  font-family: InterRegular28;
  src: url("/assets/fonts/Inter/Inter_28pt-Regular.ttf");
}
.InterRegular18 {
  font-family: InterRegular18;
}
.InterRegular24 {
  font-family: InterRegular24;
}
.InterRegular28 {
  font-family: InterRegular28;
}
/*  Lexend Fonts */
@font-face {
  font-family: LexendLight;
  src: url("/assets/fonts/Lexend/Lexend-Light.ttf");
}
@font-face {
  font-family: LexendRegular;
  src: url("/assets/fonts/Lexend/Lexend-Regular.ttf");
}
@font-face {
  font-family: LexendMedium;
  src: url("/assets/fonts/Lexend/Lexend-Medium.ttf");
}
@font-face {
  font-family: LexendSemiBold;
  src: url("/assets/fonts/Lexend/Lexend-SemiBold.ttf");
}
.LexendLight {
  font-family: LexendLight;
}
.LexendRegular {
  font-family: LexendRegular;
}
.LexendMedium {
  font-family: LexendMedium;
}
.LexendSemiBold {
  font-family: LexendSemiBold;
}