.rh-products-section {
  background-color: var(--primary-color);
  padding: 40px 20px;
}

.rh-products-title {
  font-weight: 500;
  font-size: 48px;
  color: var(  --text-color);
  margin-bottom: 8px;
}

.rh-products-title span {
  color: var( --button-keyworld-color);
}

.rh-products-description {
  font-weight: 300;
  font-size: 18px;
  color: var( --paragraph-color);
  max-width: 800px;
  margin-bottom: 20px;
}

.rh-products-filter {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

.rh-products-filter button {
  padding: 10px 20px;
  border-radius: 140px;
  border: none;
  cursor: pointer;
  background-color: var( --second-color);
  color: var(--text-color);
  transition: 0.3s;
  font-weight: 400;
  font-size: 18px;
  text-align: center;

}

.rh-products-filter button.rh-active {
  background-color: var( --button-keyworld-color);;
  color: var(--primary-color);
}

.rh-products-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.rh-product-card {
  
  padding: 20px;
  border-right: 1px solid var( --second-color);
  text-align: center;
  transition: box-shadow 0.3s;
}

.rh-product-card:hover {
  box-shadow: 0 0 10px var( --button-keyworld-color);
}

.rh-product-card h3 {
    font-weight: 400;
    color: var(--text-color);
    font-size: 24px;
    text-align: center;
    margin: 30px 0 20px 0;

}

.rh-product-card p {
  font-weight: 300;
  font-size: 18px;
  color: var(--paragraph-color);
  text-align: center;
  line-height: 1.5;
  margin-bottom: 27px;
}

.rh-icon-center {
  margin: 0 auto;
}




@media screen and (max-width : 992px) {
  .rh-products-cards{
    grid-template-rows: repeat(3,minmax(218px,1fr));
    grid-template-columns: repeat(1,minmax(100%,1fr));
     .rh-product-card:not(:last-of-type){
      border: none;
      border-bottom: 1px solid var(--second-color);
     }

  }
  
}
